asgiref==3.12.1
bleach==6.2.0
cryptography==50.0.1
Django==6.0
django-allauth==0.63.2
django-cors-headers==4.6.0
django-filter==25.1
django-redis==5.4.0
djangorestframework==3.15.2
drf-spectacular==0.28.0
drf-spectacular[sidecar]==0.28.0
gunicorn==23.0.0
pillow==11.1.0
psycopg2-binary==2.9.10
python-decouple==3.8
python-json-logger==2.0.7
sentry-sdk==2.13.0
sqlparse==0.6.0
whitenoise==6.8.2
